/* Restaurar fuentes */
@font-face {
    font-family: 'Permanent Marker';
    src: url('../Font/Permanent_Marker/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: 'Lovelace';
    src: url('../Font/Lovelace/Zetafonts-LovelaceTextRegular.otf');
}

body {
    padding: 1px;
    margin: 0px;
    height: 100%;
    text-align: center;
    font-family: 'Lovelace', Lovelace;
    background-image: url('../imagenes/fondopared.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

html{
    height: 100%;
    background-color: #ff5733;
}

.container {
    max-width: 600px;
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    height: auto;
}

h2 {
    margin: 0px;
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
}

h2:hover {
    color: #ff5733;
}

a {
    margin: 50px 0px 0px 0px;
    color: #333;
    display: block;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #ff5733;
}

.contenido-oculto {
    display: none;
}

.content-desplegado {
    font-family: 'Permanent Marker', Permanent Marker;
    font-style: normal;
}

.contenido-oculto a {
    margin-top: 20px;
    color: orange;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 3px 0px 0px black,
        0px 3px 0px black,
        -3px 0px 0px black,
        0px -3px 0px black;
}

.contenido-oculto.activo {
    display: block;
}

footer {
    font-size: 2vw;
    color: aliceblue;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    display: grid;
    place-content: center;
}


@media (max-width: 768px) {

    .container{
        margin-top: 18%;
    }

    .contenido-oculto a{
        padding: 0px;
        margin: 10% 0px 0px 0px;
        font-size: 3rem;
    }

    a{
        padding-top: 10%;
        margin: 0px;
    }

    h2{
        font-size: 4rem;
    }

    footer{
        font-size: 3vw;
    }
}

@media (max-width: 480px) {

    .container{
        margin-top: 12%;
    }

    .contenido-oculto a{
        padding: 0px;
        margin: 20px 0px 20px 0px;
        font-size: 2.5rem;
    }

    a{
        padding:0px;
        margin: 20% 0px 0px 0px;
    }

    h2{
        font-size: 3.5em;
    }

    footer{
        font-size: 5vw;
    }
}