#codigo1{
    display: none;
}

#codigo1:hover{
    background-color: aqua;
}

#codigo2{
    display: none;
}

#codigo2:hover{
    background-color: aqua;
}

#codigo3{
    display:none;
}

#codigo3:hover{
    background-color: aqua;
}

#codigo4{
    display:none;
}

#codigo4:hover{
    background-color: aqua;
}

#codigo5{
    display:none;
}

#codigo5:hover{
    background-color: aqua;
}

